* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "New Tegomin" !important;
  /* color: #563434; */
}
.navbar a {
  text-decoration: none;
  color: rgb(22, 120, 145);
}
.navbar a:hover {
  color: rgb(15, 235, 235);
}
.disabled {
  pointer-events: none;
  color: rgb(15, 235, 235) !important;
  opacity: 0.9;
}
.linked:active {
  color: rgb(15, 235, 235);
}
p {
  color: #555;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-grow: wrap;
  justify-content: space-around;
}
.header {
  background: radial-gradient(#fff, #ffd6d6);
}
.header .row {
  margin-top: 70px;
}
/* NEED TO ADD FONT FAMILY TO THE BODY */
/* body {
    font-family: !!!!;
  } */
/* ======== NAVIGATION ======== */
.navbar {
  display: flex;
  align-items: center;
  /* padding: 20px; */
  padding: 20px 0 20px 0;
  font-family: "ZCOOL KuaiLe";
  font-size: x-large;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
/* MENU ICON */
.menu-icon {
  width: 28px;
  margin-left: 20px;
}
/* media query for menu */
@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100px;
  }
}

/* ======== CARUSEL & RIGHT SIDE ======== */
.carousel {
  max-width: 1080px;
  margin: auto;
  width: 150%;
  padding-right: 150px;
  background-color: #fff;
  justify-content: center;
}

.col-2 {
  flex-basis: 50%;
  min-width: 400px;
  justify-content: center;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover {
  background: #563434;
}
/* ======== Categories ======== */
.categories {
  margin: 70px 0;
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img {
  width: 100%;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img {
  width: 100%;
}
.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after {
  content: "";
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4 {
  color: #555;
  font-weight: normal;
}
.col-4 p {
  font-size: 14px;
}
.col-4:hover {
  transform: translateY(-5px);
}
/* ======== STARS ======== */
.checked {
  color: orange;
}
/* ======== OFFER ======== */
.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}
.col-2 .offer-img {
  padding: 50px;
}
small {
  color: #555;
}
/* ======== FOOTER ======== */
.footer {
  position: relative;
}
.footer-text {
  font-size: 12px;
  padding-top: 10px;
  margin-inline-start: 10px;
  max-width: 50%;
}
/* ======== BREADCRUMB ======== */

.breadcrumb {
  font-family: "Times New Roman", Times, serif;
}
.previous-page {
  text-decoration: none;
  color: rgb(92, 17, 17);
}

/* ======== ARTICLES ======== */

.articles {
  color: rgb(165, 32, 32);
}

#first,
#second,
#third {
  border-bottom: 1px solid rgb(223, 220, 220);
  padding-bottom: 30px;
}
.article-nav-link {
  color: brown;
  text-decoration: none;
  transition: opacity 0.1s linear;
  font-weight: 900;
  font-size: 22px;
}
.article-nav-link:hover {
  color: rgb(220, 220, 224);
  opacity: 1;
}

.img {
  width: 100%;
}
.staring-cat {
  padding-bottom: 30px;
}
.text {
  padding-left: 20px;
}
/* ======== FOOTER ======== */
.footer {
  position: relative;
  padding-bottom: 20px;
}

.footer-text {
  font-size: 12px;
  padding-top: 10px;
  margin-inline-start: 10px;
  max-width: 50%;
}
/* === BUY NOW === */

.shop-item {
  margin: 30px;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
}

.shop-item-image {
  height: 250px;
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  flex-grow: 1;
  color: #333;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: 0.5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

/* .btn-danger {
  color: white;
  background-color: #ff523b;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
} */

/* .btn-danger:hover {
  background-color: #cc4c4c;
} */

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

/* .cart-row:last-child {
  border-bottom: 1px solid black;
} */

/* .cart-row:last-child .cart-column {
  border: none;
} */

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}
